<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Play
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-button (click)="zoom(0)">
    <ion-icon  name="search" ></ion-icon>+
  </ion-button>
  <ion-button (click)="zoom(1)">
      <ion-icon name="search" ></ion-icon>-
    </ion-button>
<ion-content>
  
  <div class="container">
    <canvas #grid class="grid"></canvas>
  <canvas #scene class="scene"></canvas>
  </div>

</ion-content>